body{
	background: linear-gradient(to top, #96e3a8, #c2a0e8);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
}

.text{
	font-family: Microsoft JhengHei;
	color: #8952c4;	
	font-size: 20px;
	font-weight: bold;

}