header{
	background-image: url(Banner1.png);
	background-size: cover;
	width: 100%;
}
a:link{
	text-align: center;
	color: #346ff7;
	font-family: fantasy;
	font-weight: bold;
}

a:visited {
　text-align: center;
	color: #38782a;
	font-family: fantasy;
	font-weight: bold;
}

a:hover {
　　text-align: center;
	color: #0cb2c4;
	font-family: fantasy;
	font-weight: bold;
}

.music{
	height: 35px;
}