ul{
	font-family: Microsoft JhengHei;
	font-size: 100%;
	font-weight: bolder;
	color: #1b2d87;
}
li{
	font-size: 100%;
}

a{
	font-family: Microsoft JhengHei;
	font-size: 70%;
	font-weight: bold;
	color: #8952c4;
}

a:hover {
	color: #1b2d87;
	font-size: 70%;
}

