body{
	background-image: linear-gradient(to top, #822f7a, #d99ed1);
}
table{
	margin-top: -15px;
	padding-right: 20px; 
}

.i{
	margin-left: 20px;
}

td{
	color: black;
	font-family: fantasy; 
}

h5{
	color: #fcb442;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	margin:20px;
	margin-top: -50px
}

