body{
	background-image: linear-gradient(to top, #822f7a, #d99ed1);
}
table{
	margin-top: -15px;
	margin-right: 300px; 
}
td{
	color: black;
	font-family: fantasy; 
}

h5{
	text-align: left;
	color: #fcb442;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	margin:20px;
	margin-top: -50px;
}

