body{
	background-image: linear-gradient(to top, #feffad, #c2a0e8);
}

h3{
	color: #8952C4;
	font-family: Microsoft JhengHei;
	font-weight: bold;
}

.t1{
	text-align: center;
	font-family: Microsoft JhengHei;
	color: #525054;
	font-weight: bold;
	margin-bottom: 50px;
}

a{
	font-family: Microsoft JhengHei;
	font-weight: bold;
}

