body{
	background-color: #c2a0e8;
}
table{
	background-image: url(Banner1.png);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
	margin-top: 1%;
}
a{
	font-size: 10%;
}
a:link{
	text-align: center;
	color: #346ff7;
	font-family: fantasy;
	font-weight: bold;
}

a:visited {
　text-align: center;
	color: #38782a;
	font-family: fantasy;
	font-weight: bold;
}

a:hover {
　　text-align: center;
	color: #0cb2c4;
	font-family: fantasy;
	font-weight: bold;
}

.music{
	height: 35px;
}