body{
	background-image: linear-gradient(to top, #fbc2eb, #c2a0e8);
}

table{
	margin-bottom: 10%;
	width: 80%;
	align-items: center;
}

td{
	font-family: Microsoft JhengHei;
	color: #1b2d87;
	font-weight: bold;
	text-align: left;
	width: 50%;
}

.t{
	font-family: Microsoft JhengHei;
	color: #525054;
	font-weight: bold;
	text-align: center;
}

.d{
	width: 10%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.wei{
   	border-collapse: collapse;
   	
}